@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: #D6EFED;
}

img,
video,
figure {
  max-width: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

form,
button,
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  display: flex;
  color: inherit;
}

.none {
  display: none;
}

.home .container-home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .container-home .img-home {
  filter: brightness(0.5);
  position: absolute;
  min-height: 695px;
}

.home .container-home .img-home .img {
  min-height: 695px;
  max-height: 695px;
  width: auto;
  width: 100%;
  object-fit: cover;
}

.home .container-home .title {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home .container-home .title .h2 {
  font-size: 3rem;
  color: rgb(55, 55, 55);
}

.nav {
  top: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #B7D3DF;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 99;
}

.nav .title {
  text-align: center;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav .menu {
    display: none;
  }
}
.nav .menu .nav-items {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.nav .menu .nav-items li a {
  font-size: 1.5rem;
}

.nav .panel {
  display: flex;
  z-index: 998;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.836);
  top: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  transform: translate(0, -100%);
  transition: all 0.4s ease;
}

.nav .panel.is-active {
  transform: translate(0, 0);
}

.nav .panel .nav-items {
  flex-direction: column;
}

.nav .panel .nav-items li a {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin-left: 1rem;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 0.2rem;
  transition: all 0.3s ease;
}

.nav .panel .nav-items li a:hover {
  background-color: #fff;
  color: #000;
}

.nav .menu-h {
  z-index: 999;
  position: absolute;
  right: 0;
  color: #fff;
}

.nav .menu-h .hamburger-inner,
.nav .menu-h .hamburger-inner::after,
.nav .menu-h .hamburger-inner::before {
  background-color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .nav .menu-h {
    display: none;
  }
}
.productos {
  padding-top: 2rem;
  margin: 1rem;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}

.productos .producto {
  padding: 1rem;
  background-color: #898AA6;
}

.productos .producto img {
  width: auto;
}

.productos .producto .nombre {
  text-align: center;
  padding-top: 1rem;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
