@use '../base/variables' as v;
.nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: v.$blue;
    position: fixed;
    width: 100%;
    z-index: 99;
    .title {
        text-align: center;
        font-size: 2rem;
        color: #000;
        cursor: pointer;
    }
    .active {
        .nav-items {
            display: flex;
            li {
                a {
                    color: #000;
                }
            }
        }
    }
    .menu {
        display: none;
        .nav-items {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.836);
            top: 0;
            right: 0;
            position: absolute;
            width: 80%;
            height: 100vh;
            transition: all .4s ease;
            li {
                a {
                    color: #fff;
                    font-size: 2.5rem;
                    text-align: center;
                    margin-left: 1rem;
                    outline: none;
                    padding: 1rem 2rem;
                    border-radius: .2rem;
                    transition: all .3s ease;
                    &:hover {
                        background-color: #fff;
                        color: #000;
                    }
                }
            }
        }
    }
    .hbtn {
        z-index: 99;
        position: absolute;
        right: 0;
        color: #fff;
        .hamburger-inner,
        .hamburger-inner::after,
        .hamburger-inner::before {
            background-color: #fff;
        }
        // @include m.tablet {
        //     display: none;
        // }
    }
}